.title {
    color:var(--mantine-color-header-5);
    font-size: rem(44px);
    line-height: 1.2;
    font-weight: 900;
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: rem(28px);
    }
  }

  .inner {
    display: flex;
    justify-content: space-between;    
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  }
  